#preface-area {
    padding: 0px;
}
#preface-area > .container {
    max-width: 100%;
}
#preface-area>.container>.row {
    margin-right: 0px;
    margin-left: 0px;
}
#preface-area>.container>.row>.preface-block{
	padding-right: 0px;
	padding-left: 0px;
}
.preface-block .block{
	margin-bottom: 0px;
}
.view-packages .view-content{
	text-align: center;
	padding: 0px 8%;
}
.page-home .view-packages .views-row{
	display: inline-block;
	vertical-align: top;
	width: 222px;
	background-color: #FFF;
	border: 1px solid #D4D4D4;
	margin: 3px;
	height: 374px;
	text-align: left;
}
.page-home .view-packages .views-row .views-field-title{
	margin: 15px 15px 0px;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-family: "Source Sans Pro";
}
.page-home .view-packages .views-row .views-field-title a{
	color: #C10077;
}
.page-home .view-packages .views-row .views-field-field-package-resume{
	margin: 0px 15px 15px;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #231769;
	line-height: 18px;
	text-align: justify;
}
.page-home .view-packages .views-row .views-field-view-node{
	margin-left: 15px;
}
.page-home .view-packages .views-row .views-field-view-node a{
	padding: 6px 13px;
	background: #C10077;
	border: 1px solid #D4D4D4;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	color: #FFF;
	line-height: 24px;
	text-transform: uppercase;
	font-size: 12px;
}

.page-home #masthead {
    position: absolute;
	z-index: 10;
	width: 100%;
	background: #fff;
	border: 3px solid #50ADF5;
	top: 562px;
}
.page-home #masthead.container {
    max-width: 100%;
}
.page-home #main-content{
	padding-top: 100px;
}
.page-home h1.page-title {
	margin-left: 124px;
}
.theme-default .nivoSlider{
	margin-bottom: 0px;
}
.page-home #header-block{
	top: auto;
}
#header-block{
	position: absolute;
	top: 0px;
	z-index: 10;
	right: 11%;
	padding-top: 35px;
}
#header-block ul{
	list-style: none;
}
#header-block ul li{
	display: inline-block;
	margin-right: 5px;
}

#preface-area {
    border-bottom: 0px solid #F96B61;
    border-top: 0px solid #F96B61;
}
#block-views-categories-block{
	position: absolute;
	z-index: 100;
	top: 190px;
	right: 32%;
}
#block-views-categories-block .views-row{
	display: inline-block;
	position: relative;
}
#block-views-categories-block .views-row .views-field-name-field-et{
	position: absolute;
	top: 68px;
	background: none repeat scroll 0% 0% rgb(148, 43, 43);
	border: 1px solid rgb(120, 34, 34);
	padding: 2px 27px;
}
#block-views-categories-block .views-row .views-field-name-field-et a{
	color: #fff;
}
#block-views-categories-block .views-row .views-field-field-image-categoria a img{
	border: 3px solid #F9F110;
	border-radius: 14px;
}

.node-type-package #main-content #content{
	background-color: #F5F5F5;
}
.node-type-package #main-content #content #breadcrumbs{
	padding-left: 20px;
}
.node-type-package #main-content #content h1.page-title{
	padding-left: 30px;
	font-size: 44px;
	color: #C10077;
	font-family: "Source Sans Pro";
	font-weight: 300;
	line-height: 60px;
}
.node-type-package #main-content #content .field-name-field-package-resume{
	font-size: 16px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	margin: 0px 30px;
	padding: 20px 30px;
	text-align: justify;
	font-family: "Source Sans Pro";
	line-height: 24px;
}
.node-type-package #main-content #content .field-name-field-package-resume>.field-items{
	border-bottom: 1px solid rgb(240, 240, 240);
	padding-bottom: 10px;
}
.node-type-package #main-content #content .field-name-field-package-date{
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	margin-left: 30px;
	display: inline-block;
	text-align: center;
	width: 355px;
	font-family: "Source Sans Pro";
	padding-bottom: 20px;
}
.node-type-package #main-content #content .field-name-field-categoria{
	display: inline-block;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	text-align: center;
	width: 355px;
	font-family: "Source Sans Pro";
	padding-bottom: 20px;
}
.node-type-package #main-content #content .field-name-body{
	background: none repeat scroll 0% 0% #FFF;
	margin: 40px 0px;
	padding: 30px;
}
.node-type-package #main-content #sidebar #block-views-packages-block-2{
	background: none repeat scroll 0% 0% #F5F5F5;
	padding: 75px 0px 36px;
	margin-left: -40px;
}

.node-type-package #main-content #content #content-wrap .content footer{
	display: none;
}
.node-type-package #main-content #sidebar #block-entityform-block-booking label{
	padding: 10px 14px;
}
.node-type-package #main-content #sidebar #block-entityform-block-booking input{
	padding: 8px;
	width: 100%;
	border-radius: 5px;
}
#main-menu li a:hover, #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
    color: #fff;
    background: #50ADF5;
    border-radius: 5px;
    border: 1px solid #50ADF5;
}