/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling ("look-and-feel") for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";

// Import our mixins early so they can be used by other partials.
@import "base/mixins";

//
// Common file is where you place common utility classes to extend or
// parametrics. Optional file.
@import "base/common";

//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";

//
// Styling for elements.
@import "base/elements";

//

// Layout
//
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";

// Components
// @import "components/buttons";
// @import "components/type";
// @import "components/forms";
// @import "components/foundation-icons";

// Themes
// @import "theme/button-light";

// IE8 Grid Support
//@import "ie";


/* 
	Estilos generales
 */
html, body{
	color: #333;
} 
h2, h3, strong, .field-label{
	color: #1E5666;
}
h1{
	color: #AB3935;
	font-size: 2.5em;
} 
h2{
	font-size: 1.5em;
}
ul{
	margin-left: 15px;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	border-radius: 5px;
	&:focus, &:hover{
		border: 1px solid #1E5666;
	}
	
}
/* 
	Estilo del encabezado
 */
header{
	section.row{
		max-width: 100%;
		.columns{
			padding: 0px !important;
			section.block-locale{
				position: absolute;
				z-index: 10;
				background: rgba(255, 255, 255, 0.5);
				border: 1px solid #fff;
				width: 180px;
				border-radius: 0px 0px 10px 10px;
				left: calc(50% - 90px);
				height: 35px;
				border-top: none;
			 	ul.language-switcher-locale-url{
			 		display: flex !important;
				 	flex-wrap: wrap;
				 	justify-content: space-around;
				 	align-items: center;
				 	li{
				 		margin: 0 5px;
				 		list-style:none;
				 	}
			 	}
			}
		}
	}
}



/* 
	Estilo del encabezado
 */
section.l-help{
	max-width: 100%;
	.columns{
		padding: 0px !important;
		section.block-locale{
			position: absolute;
			z-index: 10;
			background: rgba(255, 255, 255, 0.5);
			border: 1px solid #fff;
			width: 180px;
			border-radius: 0px 0px 10px 10px;
			left: calc(50% - 90px);
			height: 35px;
			border-top: none;
		 	ul.language-switcher-locale-url{
		 		display: flex !important;
			 	flex-wrap: wrap;
			 	justify-content: space-around;
			 	align-items: center;
			 	li{
			 		margin: 0 5px;
			 		list-style:none;
			 	}
		 	}
		}
		section.block-nivo-slider{
			.nivoSlider{
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
			}
		}
	}
}



/* 
	Estilo del contenido prinicipal
 */
 @media only screen and (max-width: 720px) {
 	section.logo-menu{
 		display: none;
 	}
 }
  @media only screen and (min-width: 720px) {
 	section.logo-menu{
 		display: flex !important;
 	}
 }

 section.logo-menu{
 	flex-wrap: wrap;
 	justify-content: space-around;
 	align-items: center;
 	padding-bottom: 10px;
 	padding-top: 10px;
 	img.logo{
 		width: 400px;
 		float: left;
 	}
 	nav#main-menu{
 		float: left;
 		ul, ul.inline-list{
			margin-left: 0;
			background: #eee;
			border-radius: 12px;
 			li{
 				margin-left: 0;
 				a{
 					color: #1E5666;
 					padding: 12px;
 					border-bottom: 4px solid transparent;
 					border-right: 1px solid #ddd;
 					&:hover{
 						border-bottom: 4px solid #1E5666;
 					}
 					&:focus{
 						background: #75923B;
 						color: white;
 					}
 				}
 				a.active{
 					color: white;
 					background: #AB3935;
 					border-right: 1px solid transparent;
 					&:hover{
 						color: white;
 						border-bottom: 4px solid transparent;
 						border-right: 1px solid transparent;	
 					}
 				}
 			}
 			li.first{
 				a{
 					border-radius: 7px 0 0 7px;
 				}
 			}
 			li.last{
 				a{
 					border-radius: 0 7px 7px 0;
 					border-right: 1px solid transparent;
 					border-left: 1px solid #ddd;

 				}
 			}
 		}
 	}
 }

 /* 
	Estilos del area de multilenguaje & share buttons
  */
  section.l-featured{
  	max-width: 100% !important;
  	background: #e5e5e5;
  	section.block-views-categories-block{
  			max-width: 62.5em;
  			margin: auto;
			.view-categories{
				.view-content{
					display: flex !important;
				 	flex-wrap: wrap;
				 	justify-content: space-around;
				 	align-items: center;
				 	padding-bottom: 45px;
				 	padding-top: 45px;
				 	.views-row{
				 		.views-field-name-field-et{
					 		.field-content{
					 			text-align: center;
					 			a{
					 				border-radius: 7px 0px;
									background: none repeat scroll 0% 0% rgb(49, 2, 101);
									color: white;
									padding: 8px 30px;
									border: 1px solid #ABA3C2;
					 			}
					 		}
					 	}
					 	.views-field-field-image-categoria{
						 		img{
						 			border: 7px solid transparent;
						 		}
						 	}
					 	&:hover{
					 		.views-field-field-image-categoria{
						 		img{
						 			border: 7px solid white;
						 		}
						 	}
						 	.views-field-name-field-et{					 		
						 		a{
						 			background: #75923B;
						 			z-index: 10;
						 		}
					 		}
					 	}
				 	}
				}
			}
		}
  }

  /* 
	Estilos del contenido prinicipal
   */ 

.l-main{
	margin-top: 60px;
	.main{
		.view-packages{
			.view-content{
				display: flex !important;
			 	flex-wrap: wrap;
			 	justify-content: space-around;
				margin-bottom: 25px;
			 	.views-row{
			 		text-align: center;
			 		color: #444;
			 		border: 1px solid #ddd;
			 		border-radius: 7px;
			 		padding: 12px;
			 		margin-bottom: 35px;
			 		width: 320px; 
			 		.views-field-title{
			 			margin: 18px 0;
			 			a{
			 				color: #AB3935;
			 				font-weight: bold;
			 			}
			 		}
			 		.views-field-field-package-resume{
			 			max-width: 290px;
			 		}
			 		.views-field-view-node{
			 			margin: 20px 0;
			 			a{
			 				padding: 7px 12px;
			 				color: #fff;
			 				background: #AB3935;
 							border-radius: 7px;
			 			}
			 		}
			 		.views-field{
				 		display: flex !important;
					 	justify-content: space-around;
					 	align-items: center;
				 	}
				 	transition: all 0.3s ease 0s;
				 	&:hover{
				 		background: #AB3935;
				 		color: white;
				 		.views-field-title{
				 			margin: 18px 0;
				 			a{
				 				color: #fff;
				 			}
				 		}
				 		.views-field-view-node{
				 			a{
				 				color: #AB3935;
				 				background: #fff;
				 				&:hover{
				 					background: #ddd;
				 				}
				 			}
				 		}
				 	transition: all 0.3s ease 0s;
				 	}
			 	}
			}
		}
	}
}
/* 
	Ocultar facebook en mobile
 */
@media only screen and (max-width: 720px) {
 	.fb-like-box{
 		display: none !important;
 	}
 }

/* 
	Estilos del footer del sitio
 */

 footer.row{
 	border-top: 10px solid #AB3935;
	margin: 0;
 	max-width: 100%;
 	margin-top: 40px;
 	min-height: 240px;
 	color: white;
 	background-image: url("../images/a.jpg");
 	a{
 		color: white;
 	}
 }
 footer.panel{
 	text-align: center;
 	border: none;
 	.rtecenter{
 		margin-bottom: 10px;
 	}
 	.block-widgets-s-socialmedia-profile-default, .block-block-1, .block-widgets-s-facebook-like-box{
 		width: 33%;
 		float: left;
 		.fb-like-box{
 			background: white;
			float: right;
 		}
 		.widgets-element-horizontal {
		    margin-right: 5px;
		}
 	}
 }

 /* 
	Menu fijo en la cabecera
  */

.f-nav{
	z-index: 9999;
	position: fixed;
	left: 0; top: 0;
	width: 100% !important;
	max-width: 100% !important;
	margin: auto;
	background: white;
	padding: 0 !important;
	border-bottom: 4px solid #AB3935;
	box-shadow: 0px 6px 40px gray;
	-webkit-box-shadow: 0px 6px 40px gray;
	-moz-box-shadow: 0px 6px 40px gray;
	-o-box-shadow: 0px 6px 40px gray;

	.links{
		margin-bottom: 0 !important;
	}
	img{
		width: 230px !important;
	} 
}
	/* this make our menu fixed top */
    
.navigation {
	height: 42px
	ul{
		list-style: none;
	}
}

/* 
Estilos node-type-package
 */

body.node-type-package{
	.l-main{
	margin-top: 0px;
	margin-bottom: 30px;
	.main {
    padding-left: 30px !important;
}
	}
	.logo-menu {
	    padding-bottom: 11px;
	    border-bottom: 2px solid #AB3935;
	    margin-bottom: 30px;
	}
 }

/* 
Estilo sidebar-first
 */

 aside.sidebar-first{
 	background: #F6F6F6;
 	padding: 10px;
 	border-radius: 7px;
 	border: solid 1px #DCDCDC;
 	.block-entityform-block{
 		label{
 			padding-top: 10px;
			padding-left: 10px;
 		}
 	}
 	.view-packages{
 		.views-row{
 			background: none repeat scroll 0% 0% #E5E5E5;
			padding: 20px;
			border-radius: 3px;
			margin-bottom: 20px;
			text-align: center;
			.views-field {
			    margin-bottom: 7px !important;
			    a{
			    	color: #1E5666;
			    }
			}
			.views-field-title{
	 			margin: 18px 0;
	 			a{
	 				color: #AB3935;
	 				font-weight: bold;
	 			}
	 		}
	 		.views-field-view-node{
	 			margin: 20px 0;
	 			a{
	 				padding: 7px 12px;
	 				color: #fff;
	 				background: #AB3935;
						border-radius: 7px;
	 			}
	 		}
	 		&:hover{
			background: #AB3935;
			color: white;
			.views-field-title{
				margin: 18px 0;
				a{
					color: #fff;
				}
			}
			.views-field-view-node{
				a{
					color: #AB3935;
					background: #fff;
					&:hover{
						background: #ddd;
					}
				}
			}
			transition: all 0.3s ease 0s;
			}
		}
 	}
 }

aside.sidebar-second{
	.view-calendar{
		li{
	 		margin: 0 5px;
	 		list-style:none;
	 		overflow: hidden;
	 	}
	 	.views-row{
	 		margin: 7px 0;
	 		a{
	 			color: #444;
	 			&:hover{
	 				color: #000;
	 			}
	 		}
	 	}
	 	.views-field-field-package-date{
	 		width: 50px;
			border: 1px solid #AB3935;
			float: left;
			text-align: center;
			border-radius: 5px;
			margin-right: 7px;
			.fecha1{
				background: #AB3935;
				color: white; 
			}
	 	}
	 	.views-field-title{
	 		font-size: 0.9em;
	 	}
	}
}

/* Estilos de la pagina Galería */
body.page-gallery{
	.view-gallery{
		.view-content{
			display: flex !important;
		 	flex-wrap: wrap;
		 	justify-content: space-around;
		 	align-items: center;	
			.views-row{
				width: 48%;
				padding: 8px;
				border: 1px solid #ddd;
				border-radius: 5px;
				text-align: center;
				transition: all 0.3s ease 0s;
				.views-field-title{
					margin-bottom: 12px;
					a{
						font-size: 1.5em;
						color: #AB3935;
						&:hover{
			 				text-decoration: underline;
			 			}
					}
				}
				&:hover{
					background: #eee;
					border-color: #ccc;
					transition: all 0.3s ease 0s;
				}
			}
		}
	}
}

/* 
Estilo de bloque de lenguaje en paginas diferentes al front
 */
body.not-front{
	section.l-help{
		.columns{
			section.block-locale{
				top: -50px;
			}
		}
	}
}
body.node-type-package{
	section.l-help{
		.columns{
			section.block-locale{
				top: -75px;
			}
		}
	}
}

