/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
	font-family: 'AmbleRegular';
    src: url( ../fonts/Amble-Light-webfont.ttf ) format("truetype"); 
}
body{
	font-family: 'AmbleRegular';
	background:url(../images/bg3.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center;
	background-size: 100% 100%;
}
.wrap{
	width:80%;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header{
	background:rgba(61, 39, 29, 0.5);
	padding:1% 0;
}
.logo{
	width:45%;
	margin-right:5%;
	float:left;
}
.top-header-left{
	float:right;
	padding: 1% 0;
}
.top-header-left p{
	display: inline;
	width: 50%;
	text-align: right;
	line-height:1.5em;
	font-size: 13px;
	color:#fff;
	margin-top: 80px;
}
.top-header-left p span{
	cursor:pointer;
}
.top-header-left p span:hover{
	text-decoration:underline;
}
span.color{
	color:#35B406;
}
p.para{
	margin-bottom:13px;
}
/*--Conten--*/
.content{
	position: relative;
}
.content-top{
	padding:5% 0;
}
.content-top h1{
	text-align:center;
	color:#fff;
	font-size:3em;
	text-transform:uppercase;
	font-family: 'Abel', sans-serif;
	margin-bottom: 20px;
}

.content-top h2{
        text-align:center;
        color:#fff;
        font-size:2em;
        font-family: 'Abel', sans-serif;
        margin-bottom: 20px;
}

/* ---------- TIMER ---------- */
ul#countdown{text-align:center;
}
ul#countdown li {
	color: rgb(141, 141, 140);
	display:inline-block;
	margin-right:18px;
	width: 80px;
	text-align: center;
	font-size: 21px;
	background:#281610;
	border-radius: 5px;
	padding: 15px;
	border:2px solid #4E2C20;
}
ul#countdown li span {
  font-size: 50px;
  color: rgb(255, 255, 255);
  position: relative;
  border-bottom: 1px solid #4E2C20;
}
ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
	padding: 6px 0px 0px 0px;
	color: rgb(223, 220, 220);
	text-transform: uppercase;
	font-size: 18px;
	padding: 30px 0px 0px 0px;
}
/*--contact--*/
.contact {
	margin: 2% 0 0 34%;
	padding: 5px;
	position: relative;
	background: #000;
	width: 30.6%;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	-o-border-radius: .3em;
}
.contact input[type="text"] {
	background:#281610;
	border: none;
	font-size: 15px;
	padding: 18px;
	color: #6f4c3a;
	width:69.6666%;
	outline: none;
}
.contact input[type="submit"] {
	background:#4E2C20;
	border: none;
	padding:15px 20px;
	margin: 0;
	right: 6px;
	cursor: pointer;
	position: absolute;
	color:#fff;
	top: 8px;
	font-size: 17px;
	font-family: 'Abel', sans-serif;
	text-transform: capitalize;
}
.contact input[type="submit"]:hover {
	background: #3F2015;
}
/*--footer--*/
.footer{
	background:rgba(37, 19, 11, 0.69);
	padding:2% 0;
	position:absolute;
	width:100%;
	bottom:0;
}
ul.follow_icon{
	float:left;
}
.follow_icon li {
	float: left;
	margin-left: 13px;
}
.follow_icon li a:hover{
	opacity:0.7;
}
.follow_icon li a img {
	vertical-align: middle;
}
.copy{
	float:right;
	margin-top:1.8%;
}
.copy p{
	color:#fff;
	font-size:13px;
}
.copy p a{
	color:#fff;
}
.copy p a:hover{
	text-decoration:underline;
}
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}	
	.contact input[type="text"] {
		width: 63.9999%;
	}
}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}	
	.contact input[type="text"] {
		width:61.5555%;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}	
	.contact input[type="text"] {
		width: 65.8888%;
	}
	.content-top h1 {
		font-size:2.6em;
	}
	ul#countdown li span {
		font-size:40px;
	}
	ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
		font-size:15px;
	}
	.contact {
		margin: 2% 0 0 27%;
		width: 42.6%;
	}
	.copy {
		margin-top: 2.5%;
	}	
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}	
	.contact input[type="text"] {
		width:59.4444%;
	}
	.content-top h1 {
		font-size:2.3em;
	}
	ul#countdown li span {
		font-size:35px;
	}
	ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
		font-size:14px;
	}
	.contact {
		margin: 2% 0 0 27%;
		width: 42.6%;
	}
	.contact input[type="submit"] {
		padding: 15px 15px;
	}
	.copy {
		margin-top:3.5%;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}	
	.contact input[type="text"] {
		width:59.6666%;
	}
	.content-top h1 {
		font-size:2em;
	}
	ul#countdown li span {
		font-size:35px;
	}
	ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
		font-size:14px;
	}
	.contact {
		margin: 2% 0 0 28%;
		width: 42.6%;
	}
	.contact input[type="text"] {
		padding:13px;
	}
	.contact input[type="submit"] {
		padding: 12px 10px;
		font-size:15px;
		top: 7px;
	}
	.logo {
		width: 40%;
	}
	.top-header-left {
		padding:0;
	}
	ul#countdown li {
		margin-right: 10px;
		width: 65px;
		padding: 10px;
	}
	.follow_icon li {
		margin-left: 5px;
	}
	.copy {
		margin-top: 4.3%;
	}
}
@media (max-width:480px){
	.wrap{
		width:90%;
	}	
	.contact input[type="text"] {
		width:57.6666%;
	}
	.content-top h1 {
		font-size:1.5em;
	}
	ul#countdown li span {
		font-size: 28px;
	}
	ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
		font-size:13px;
		padding: 20px 0px 0px 0px;
	}
	.contact {
		margin: 2% 0 0 28%;
		width: 42.6%;
	}
	.contact input[type="text"] {
		padding:10px;
	}
	.contact input[type="submit"] {
		padding: 9px 1px;
		font-size: 15px;
		top: 7px;
	}
	.logo {
		width:50%;
	}
	.top-header-left {
		display:none;
	}
	ul#countdown li {
		margin-right: 10px;
		width:50px;
		padding: 10px;
	}
	.follow_icon li {
		margin-left: 5px;
		display: inline-block;
		float:none;
	}
	.copy {
		margin-top: 4.3%;
		float:none;
	}
	.footer {
		text-align:center;
	}
	.contact input[type="text"] {
		font-size:13px;
	}
	ul.follow_icon {
		float:none;
	}
}
@media (max-width:320px){
	.wrap{
		width:90%;
	}	
	.contact input[type="text"] {
		width:59.6666%;
	}
	.content-top h1 {
		font-size:1.2em;
	}
	ul#countdown li span {
		font-size: 22px;
	}
	ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
		font-size:13px;
		padding: 20px 0px 0px 0px;
	}
	.contact {
		margin: 2% 0 0 14%;
		width: 65.6%;
	}
	.contact input[type="text"] {
		padding:10px;
	}
	.contact input[type="submit"] {
		padding: 9px 1px;
		font-size: 15px;
		top: 7px;
	}
	.logo {
		width:80%;
		float:none;
	}
	.top-header-left {
		display:none;
	}
	ul#countdown li {
		margin-right: 10px;
		width:80px;
		padding: 10px;
	}
	.follow_icon li {
		margin-left: 5px;
		display: inline-block;
		float:none;
	}
	.copy {
		margin-top: 4.3%;
		float:none;
		line-height:1.5em;
	}
	.footer {
		text-align:center;
	}
	.contact input[type="text"] {
		font-size:13px;
	}
	ul.follow_icon {
		float:none;
	}
}









